@import '../../../../css/custom.scss';


.words-container {
    height: 500px;
    border: 1px solid $offwhitetransparent;
    border-radius: 10px;
}

.word-active {
    color: $info;
}

.word-wrong {
    color: $danger;
}

.word-correct {
    color: $success;
}

.divider {
    border-bottom: 1px solid $offwhitetransparent;
}